<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>PostreSQL Express</title>
  </head>
  <body>
    <div class="display-todos container my-5">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% if(data.length > 0 ){%> <% for(let i = 0 ; i < data.length ; i++){ %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= data[i].date %></h5>
              <p class="card-text"><%= data[i].todo %></p>
              <p>
                <button class="btn btn-danger m-1">
                  <i class="material-icons">Delete</i>
                </button>
                <button class="btn btn-primary m-1">
                  <i class="border-color">Edit</i>
                </button>
              </p>
            </div>
          </div>
        </div>
        <%}%> <%}%>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
